* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: 0;
    font-family: 'Inter', sans-serif;
    animation: body 1s;
}
@keyframes body {
    0% {
        opacity: 0;
    };
    100% {
        opacity: 1;
    }
}
body {
    background-color: #000000;
}
:root {
    --Color-text-default: #000000;
    --Color-text-block: #ffffff;
    --Color-link: #ff7349;
    --Color-background: #ffffff;
    --Font-size-default: 17px;
    --Font-size-titles: 2.5em;
    --Font-size-p: 1.5em;
    --Font-family-nav:'Comfortaa', sans-serif;
    --Letter-spacing-titles: 2px;
    --Letter-spacing-p: 0.5px;
    --Transition-05: all 0.5s;
    --Transition-1: all 1s;
    --Center-block: 0 auto;
    --Uppercase: uppercase;
    --max-width1400: 1400px;
    --max-width1200: 1200px;
}

/* HEADER START */

header {
    padding: 40px 0;
    background-color: var(--Color-background);
}
.container-menu {
    position: relative;
    max-width: var(--max-width1400);
    margin: var(--Center-block);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 180px;
    transition: var(--Transition-1);
}
.logo:hover {
    transform: scale(1.1);
}
.menu {
    position: absolute;
    z-index: 1;
    width: 275px;
    top: -470px;
    right: 0px;
    padding-top: 60px;
    background-color: var(--Color-background);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: all 1s ease;
}
.header.down .menu {
    transform: translateY(110%);
}
.menu-list {
    display: flex;
    flex-direction: column;
    gap: 34px 0px;
}
.menu-link {
    padding: 0 20px;
    color: var(--Color-text-default);
    font-weight: 700;
    font-family: var(--Font-family-nav);
    font-size: 1.6em;
    transition: var(--Transition-05);
}
.menu-link:hover {
    color: var(--Color-link);
    text-decoration: underline;
}
.user {
    display: flex;
    align-items: center;
    width: 150px;
    padding: 0px 20px 20px 20px;
    transition: var(--Transition-05);
}
.user:hover {
    transform: scale(1.1);
}
.user-avatar {
    width: 60px;
}
.user-name {
    padding-left: 10px;
    color: var(--Color-text-default);
    font-weight: 700;
    font-family: var(--Font-family-nav);
    font-size: 22px;
}
.burger {
    position: relative;
    z-index: 2;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: var(--Transition-1);
}
.burger:hover {
    transform: scale(1.3);
}
.burger span {
    position: absolute;
    width: 30px;
    height: 3px;
    left: 5px;
    background-color: #000000;
    border-radius: 20px;
    transition: all 1s ease;
}
.burger span:nth-last-child(1) {
    transform: translateY(-10px);
}
.burger span:nth-last-child(3) {
    transform: translateY(10px);
}
.header.down .burger span:nth-last-child(1) {
    transform: translateY(0) rotate(45deg);
    background-color: #ff8989;
}
.header.down .burger span:nth-last-child(2) {
    transform: scale(2);
    opacity: 0;
}
.header.down .burger span:nth-last-child(3) {
    transform: translateY(0) rotate(-45deg);
    background-color: #ff8989;
}

/* HEADER END */

/* MAIN */

/* block 1 */

.block-1 {
    position: relative;
    font-size: var(--Font-size-default);
    color: var(--Color-text-block);
    overflow: hidden;
}
.block-1 video {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
}
.banner-text {
    max-width: var(--max-width1400);
    margin: var(--Center-block);
    text-align: center;
    padding: 300px 30px;
}
.banner-text div {
    font-size: var(--Font-size-titles);
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: var(--Letter-spacing-titles);
    text-transform: var(--Uppercase);
}
.banner-text p {
    max-width: var(--max-width1200);
    margin: 0px auto;
    font-size: var(--Font-size-p);
    letter-spacing: var(--Letter-spacing-p);
}

/* BLOCK 1 END */

/* BLOCK 2 */

.block-2 {
    padding: 80px 30px 40px 30px;
    background-color: var(--Color-background);
    text-align: center;
    color: var(--Color-text-default);
    font-size: 22px;
}
.block-2 h1 {
    font-size: var(--Font-size-titles);
    font-weight: 700;
    text-transform: var(--Uppercase);
    letter-spacing: var(--Letter-spacing-titles);
    margin-bottom: 10px;
}
.block-2 p {
    font-size: var(--Font-size-p);
    letter-spacing: var(--Letter-spacing-p);
}

/* BLOCK 2 END */

/* ====ADAPTIV BLOCK 2==== */
@media (max-width: 768px) {
    .block-2 {
        padding: 20px 5px 0px 5px;
    }
}
/* ====ADAPTIV BLOCK 2 END==== */

/* BLOCK 3 */

.block-3 {
    padding: 20px 0px 80px 0px;
    background-color: var(--Color-background);
    color: var(--Color-text-default);
}

/* CARD */

.card-wrap {
    padding: 0px 50px 0px 50px;
    max-width: var(--max-width1200);
    margin: var(--Center-block);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    color: var(--Color-default);
}
.card {
    width: auto;
    height: auto;
    background-size: cover;
    box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
    transition: var(--Transition-1);
    color: white;
    border-radius: 5px;
}
.card:hover {
    box-shadow: 0px 0px 10px rgba(216, 216, 216, 0.6);
    opacity: 1;
    background-color: #ffeee9;
}
.card>i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    color: #ff7349;
    font-size: 60px;
}
.card-title {
    padding: 20px;
    margin-bottom: 10px;
    display: block;
    font-size: 25px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.5);
}
.card-text {
    height: auto;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    padding: 0px 20px 20px 20px;
}
.card-text>a {
    color: var(--Color-link);
}
.carousel {
    display: none;
}

/* CARD END */

/* BLOCK 3 END */

/* ====ADAPTIV CARD==== */
@media (max-width: 992px) {
    .card-wrap {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
@media (max-width: 768px) {
    .block-3 {
        display: none;
    }
    .card {
        height: 455px;
        margin: 5px;
    }
    .card>i {
        display: none;
    }
    .card-title {
        padding: 20px 10px 10px 10px;
    }
    .card-text {
        padding: 0px 10px 20px 10px;
    }
    .carousel {
        position: relative;
        display: block;
        padding: 20px 30px 40px 40px;
        background-color: var(--Color-background);
    }
    .carousel-inner {
      position: relative;
      width: 98%;
      margin: var(--Center-block);
      overflow: hidden;
    }
    .carousel-inner::after {
      display: block;
      clear: both;
      content: "";
    }
    .carousel-item {
      position: relative;
      display: none;
      float: left;
      width: 100%;
      margin-right: -100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transition: transform 0.6s ease-in-out;
    }
    @media (prefers-reduced-motion: reduce) {
      .carousel-item {
        transition: none;
      }
    }
    .carousel-item.active,
    .carousel-item-next,
    .carousel-item-prev {
      display: block;
    }
    .carousel-item-next:not(.carousel-item-start),
    .active.carousel-item-end {
      transform: translateX(100%);
    }
    .carousel-item-prev:not(.carousel-item-end),
    .active.carousel-item-start {
      transform: translateX(-100%);
    }
    .carousel-fade .carousel-item {
      opacity: 0;
      transition-property: opacity;
      transform: none;
    }
    .carousel-fade .carousel-item.active,
    .carousel-fade .carousel-item-next.carousel-item-start,
    .carousel-fade .carousel-item-prev.carousel-item-end {
      z-index: 1;
      opacity: 1;
    }
    .carousel-fade .active.carousel-item-start,
    .carousel-fade .active.carousel-item-end {
      z-index: 0;
      opacity: 0;
      transition: opacity 0s 0.6s;
    }
    @media (prefers-reduced-motion: reduce) {
      .carousel-fade .active.carousel-item-start,
      .carousel-fade .active.carousel-item-end {
        transition: none;
      }
    }
    .carousel-control-prev,
    .carousel-control-next {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15%;
      padding: 0;
      color: #fff;
      text-align: center;
      background: none;
      border: 0;
      opacity: 0.5;
      transition: opacity 0.15s ease;
    }
    @media (prefers-reduced-motion: reduce) {
      .carousel-control-prev,
      .carousel-control-next {
        transition: none;
      }
    }
    .carousel-control-prev:hover, .carousel-control-prev:focus,
    .carousel-control-next:hover,
    .carousel-control-next:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: 0.9;
    }
    .carousel-control-prev {
      left: 10px;
    }
    .carousel-control-next {
      right: 0;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      background-repeat: no-repeat;
      background-color: #000000;
      padding: 10px;
      border-radius: 100%;
    } 
}
/* ====ADAPTIV CARD END==== */

/* BLOCK 4 */

.block-4 {
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    font-size: var(--Font-size-default);
    color: var(--Color-text-block);
}
.banner-text-2 {
    max-width: var(--max-width1400);
    margin: var(--Center-block);
    text-align: center;
    padding: 200px 30px;
}
.banner-text-2 div {
    text-align: center;
    font-size: var(--Font-size-titles);
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: var(--Letter-spacing-titles);
    text-transform: var(--Uppercase);
}
.banner-text-2 p {
    max-width: var(--max-width1200);
    margin: 0px auto;
    font-size: var(--Font-size-p);
    text-align: justify;
    letter-spacing: var(--Letter-spacing-p);
}

/* BLOCK 4 END */

/* ====ADAPTIV BLOCK 4==== */
@media (max-width: 768px) {
    .banner-text-2 div {
        font-size: 1.7em;
    }
    .banner-text-2 p {
        font-size: 1em;
    }
}
/* ====ADAPTIV BLOCK 4 END==== */

/* FOOTER */

footer {
    background-color: var(--Color-background);
}
.footer-container {
    max-width: var(--max-width1400);
    margin: var(--Center-block);
    padding: 50px 5px 20px 5px;
}
.footer-link-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
.logo-footer {
    margin: 25px 0px 0px 25px;
    width: 200px;
    opacity: 0.5;
}
.footer-block {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-block>div>a {
    text-decoration: none;
    color: var(--Color-text-default);
    transition: var(--Transition-05);
}
.footer-block>div>a:hover {
    color: var(--Color-link);
}
.line {
    margin: var(--Center-block);
    width: 90%;
    border-bottom: 2px solid #000000;
}
.footer-icons {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 25px;
}
.icon-vk,.icon-paper-plane,.icon-yandex,.icon-pinterest,.icon-odnoklassniki,.icon-gplus {
    text-decoration: none;
    color: var(--Color-text-default);
    transition: var(--Transition-05);
}
.icon-vk:hover, .icon-paper-plane:hover, .icon-yandex:hover, .icon-pinterest:hover, .icon-odnoklassniki:hover, .icon-gplus:hover {
    color: var(--Color-link);
}
.footer-copy {
    text-align: center;
    color: var(--Color-text-default);
}

/* FOOTER END*/

/* ====ADAPTIV FOOTER==== */
@media (max-width: 992px) {
    .footer-link-wrap {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: var(--Center-block);
        margin: 50px;
    }
    .footer-block {
        margin: 0px 0px 20px 20px;

    }
}
@media (max-width: 768px) {
    .footer-link-wrap {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .footer-container {
        padding-top: 5px;
    }
    .logo-footer {
        display: none;
    }
}
/* ====ADAPTIV FOOTER END==== */